{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Django Starter</title>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <script src="{% static 'login.js' %}"></script>
</head>
<body>
    <div class="container">
        <form id="login-form" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username" />
                {% if form.username.errors %}
                <small class="form-text text-danger">{{ form.username.errors|first }}</small>
                {% endif %}
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" />
                {% if form.password.errors %}
                <small class="form-text text-danger">{{ form.password.errors|first }}</small>
                {% endif %}
            </div>

            <input class="btn btn-primary" type="submit" value="Log in" />
            <a class="btn btn-link" href="{% url 'index' %}">Back</a>
            {% if form.non_field_errors %}
            <small class="form-text text-danger">{{ form.non_field_errors|first }}</small>
            {% endif %}
        </form>
    </div>
</body>
