{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <script src="{% static 'index.js' %}"></script>
</head>
<body>
    <main>
        <h1>Project</h1>
        <p>
            {% if request.user.is_authenticated %}
            Welcome, {{ request.user.display_name }}.
            <a href="{% url 'accounts:auth:logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'accounts:auth:login' %}">Log in</a> or
            <a href="{% url 'accounts:register' %}">Register</a>
            {% endif %}
        </p>
    </main>
</body>
</html>
